@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
    font-weight: 400;
}

body {
    height: 100vh;
    background-image: url(/static/img/bg.jpg);
    /*
    not working
    {{ url_for('static', filename = 'img/bg.jpg') }}
    ..static/img/bg.jpg 
    */
    display: flex;
    justify-content: center;
}

a,
a:visited,
a:active,
a:hover {
    text-decoration: none;
    color: black;
}

footer a {
    text-decoration: none;
    color: white;
}

button,  
.content a,
nav ul li {
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    background-color: hsl(45, 100%, 50%);
    transition: 0.2s;
    cursor: pointer;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

button:hover, 
.content a:hover,
nav ul li:hover {
    background-color: hsl(45, 100%, 90%);
}
.container {
    height: 100%;
    width: 70%;
    padding: 5% 0;
    display: grid;
    grid-template: 
    "title title"
    "info main"
    "info main"        /* "leaderboard main" */
    "footer footer";
    grid-template-rows:    10% 40% 40% 10%;
    grid-template-columns: 20% 80%;
}

header {
    background-color: hsla(45, 100%, 50%, 0.8);
    grid-area: title;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
header img {
    width: 75px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

/* Game details, player name, score, buttons and main game */

/* By default the start game button and the end game button are not displayed */

#endGame {
    display: none;
}

.info {
    background-color: hsla(195, 70%, 50%, 0.6);
    grid-area: info;
    color: black;
    gap: 20px;
}

.user-display {
    font-size: 1.25em;
    color: hsl(0, 70%, 60%);
    text-transform: uppercase;
}

#letter {
    font-size: 5em;
}

.leaderboard {
    background-color: hsla(195, 70%, 50%, 0.6);
    grid-area: leaderboard;
}

main {
    grid-area: main;
    background-color: hsla(195, 70%, 50%, 0.6);
    display: flex;
    justify-content: center;
    height: 100%;
}

.content {
    display: flex;
}

.log-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-game {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]{
    margin: 20px 0;
    width: 70%;
}

form input[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    background-color: hsl(45, 100%, 50%);
    transition: 0.2s;
    cursor: pointer;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

form input[type="submit"]:hover {
    background-color: hsl(45, 100%, 90%);
}

input {
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    background-color: lightblue;
    text-align: center;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    font-size: 1.25em;
    margin: 0 20px;
    background-color: hsl(195, 80%, 60%);
}

nav ul li:hover {
    background-color: hsl(195, 80%, 40%);
}

.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: 
    linear-gradient(to right, hsla(45, 100%, 60%, 0.25), hsla(45, 100%, 50%, 1), hsla(45, 100%, 60%, 0.25));
}

#startGame {
    margin-bottom: 1em;
}

#changeEmail, #changePass {
    background-color: hsl(45, 100%, 90%);
}

#deleteAcc {
    background-color: hsl(0, 70%, 40%);
    color: hsl(45, 100%, 90%);
}

#changeEmail:hover, #changePass:hover {
    background-color: hsl(45, 100%, 50%);
}

#deleteAcc:hover {
    background-color: hsl(0, 70%, 60%);
}

#profile_error {
    color: hsl(0, 70%, 40%);
}

footer {
    background-color: hsla(45, 100%, 50%, 0.8);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

@media (min-width: 1400px) and (max-width: 1920px) {
    .container {
        grid-template-columns: 30% 70%;
        
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container {
        grid-template-columns: 40% 60%;
        width: 80%;
    }
   
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        grid-template-columns: 40% 60%;
        width: 80%;
    }
    form input[type="text"],
    form input[type="email"],
    form input[type="password"]{
        width: 70%;
    }
    nav ul li {
        margin: 0 5px;
        font-size: 0.75em;
    }
    .info {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        grid-template-columns: 40% 60%;
        width: 90%;
    }
    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 70%;
    }
    nav ul {
        align-items: center;
    }
    nav ul li {
        margin: 0 5px;
        padding: 10px 2.5px;
        font-size: 0.75em;
    }
    .info {
        font-size: 14px;
    }
    header {
        text-align: center;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    .container {
        grid-template-columns: 40% 60%;
        width: 95%;
    }
    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 70%
    }
    nav ul {
        align-items: center;
    }
    nav ul li {
        margin: 0 5px;
        padding: 10px 2.5px;
        font-size: 0.75em;
    }
    .info {
        font-size: 14px;
    }
    header {
        text-align: center;
    }
}

@media (max-width: 575px) {
    body {
        font-size: 12px;
    }
    .container {
        height: 100%;
        width: 100%;
        padding: 0;
        display: grid;
        grid-template: 
        "title title"
        "info info"
        "main main"        /* "leaderboard main" */
        "footer footer";
        grid-template-rows:    10% 30% 55% 5%;
        grid-template-columns: 20% 80%;
    }
    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        width: 70%;
    }
    nav {
        width: 55%;
    }
    nav ul {
        align-items: center;
    }
    nav ul li {
        margin: 0 2px;
        padding: 10px 15px;
        font-size: 0.5em;
    }
    .logo {
        width: 15%;
    }
    .logo img {
        width: 80%;
    }
    header {
        text-align: center;
    }
    .title {
        width: 30%;
        font-size: 10px;
    }
    .info {
        flex-direction: row;
        gap: 10px;
        align-items: flex-start;
    }
}

@media (max-height: 1000px) {
    form input[type="text"],
    form input[type="email"],
    form input[type="password"] {
        margin: 5px;
    }
}

@media (max-height: 850px) {
    .logo img{
        height: 50px;
    }
}

@media (max-height: 600px) {
    body {
        height: auto;
    }
    .logo {
        height: 90%;
    }
    .logo img {
        height: 100%;
    }
}







