<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letter Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename = 'img/logo.png')}}" alt="logo">
            </div>
            <div class="title">
                <h3>Letter Quiz</h1>
                <h3>Test you world knowledge</h3>
            </div>
            <nav>
                <ul>
                    {% if session["user"] %}
                    <li><a href=".">Log Out</a></li>
                    <li><a href="">Profile</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        <section class="info">
            {% if session["user"] %}

            <div>
                <h3>Name: 
                    {% if session["user"] %}
                    <span class="user-display">{{session["user"]}}</span>
                    {% endif %}
                </h3>
            </div>
            <div>
                <h3>High Score: {% if session["user"] %}
                    <span class="user-display">{{session["profile"][0][4]}}</span>
                    {% endif %}
                </h3>
                <h3>Last Round: <span class="user-display">{{ score }}</span></h3>
            </div>
                {% if true %}
                <div>
                    <h3>Your letter this round is:</h3>
                    <span id="letter">{{ letter | upper}}</span>
                </div>
                {% endif %}

            {% else %}

                <div>
                    <h1>Welcome to the Letter Quiz</h3>
                </div>

            {% endif %}
            
            <!--
            <div>
                <h3>Time left:</h3>
                <h2>60</h2>
            </div>
        -->
        </section>
         
         <!--  
        <section class="leaderboard">
            
            <button id="endGame" onclick="endGame()">End Game</button>
            <h4>You think something is missing from the database?</h4>
            <button onclick="report()">Click to send addition</button>
            
        </section>
        -->
        
        <main>

            <div class="content">

                {% block content %} {% endblock %}

            </div>
            
        </main>

        <footer>
            
            <h6>Image Copyright : <a href="http://www.freepik.com">Designed by pikisuperstar / Freepik</a></h6>
        </footer>
    </container> 


    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>


</body>
</html>
