{% extends "base.html" %}

{% block content %}



<!--      <button>Generate letter</button> -->
    <div class="main-game">
        <form method="POST">
        {{ form.hidden_tag() }}
            
                {{ form.countryPick.label }} 
                {{ form.countryPick() }}
            
                {{ form.cityPick.label }}
                {{ form.cityPick() }}
        
                {{ form.waterPick.label }}
                {{ form.waterPick() }}
            
                {{ form.mountainPick.label }}
                {{ form.mountainPick() }}
                
                {{ form.cropPick.label }}
                {{ form.cropPick() }}
                
                {{ form.animalPick.label }}
                {{ form.animalPick() }}
                
            
            <h3>{{ form.submit() }}</h3>
            
        </form>

    </div>



<!--
    
<div class="report">
    <h3>Please report here what do you think it's missing</h3>
</div>

-->

{% endblock %}